header{
    position: fixed;
    width: 100%;
    font-family: 'Lucida Console';
    display: flex;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    z-index: 2;
    user-select: none;
    top:0;
}
#icon{
    border-radius: 50px 0 50px 0;
    height: 100px;
    user-select: none;
}